* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    background-color: #778899;
}

body {
    background-color: url('img/topo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cabecalho {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #93bbe4;
    color: #0a0909;
}

.card-conteiner {
    display: flex;
    width: 100%;
    /* padding: 100%; */
    flex-wrap: wrap;
    justify-content: space-between;   
}

.ilustracao {
    display: flex;
    margin: 10px;
    border-radius: 5px;
    width: 600px 250px;
}

.bloco-post {
    justify-content: space-between;
    color: white;
    margin: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    flex-basis: 50px;
    flex-grow: 2;
}

.button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}


footer {
    /* display: block;
    text-align: center;
    padding: 3px;
    background-color: #708090;
    color: #000; */
    text-decoration: none;
    text-align: center;
    background-color: #f9f9f9ff;
    width: 100%;
    height: 100%;
    left: 100px;
    margin-top: 50px;

}
/* 
.rodape {
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
} */

.text-rodape {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #000;
}